Geonorge.Validator.Application/XSD/planomriss-5.0.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:po="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Reguleringsplanforslag/5.0/Planomriss" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Reguleringsplanforslag/5.0/Planomriss" version="5.0">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AdministrativEnhetskode" substitutionGroup="gml:AbstractObject" type="po:AdministrativEnhetskodeType">
    <annotation>
      <documentation>entydig identifikasjon av administrativ enhet, enten en kommune, et fylke, eller staten</documentation>
    </annotation>
  </element>
  <complexType name="AdministrativEnhetskodeType">
    <choice>
      <element name="kommunenummer" type="po:KommunenummerType">
        <annotation>
          <documentation>nummerering av kommuner i henhold til SSB sin offisielle liste
Merknad:
Det presiseres at kommunenummer alltid skal ha 4 siffer, dvs. eventuelt med ledende null. Kommunenummer benyttes for kopling mot en rekke andre registre som ogs&amp;#229; benytter 4 siffer.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KOMM</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="landkode" type="po:LandkodeType">
        <annotation>
          <documentation>verdien 'NO' angir at administrativ enhet er staten Norge, ihht. ISO 3166</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LANDKODE</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="AdministrativEnhetskodePropertyType">
    <sequence>
      <element ref="po:AdministrativEnhetskode"/>
    </sequence>
  </complexType>
  <element name="Arealplan" substitutionGroup="po:FellesegenskaperObjekt" type="po:ArealplanType">
    <annotation>
      <documentation>toppobjekt for en arealplan som Inneholder metainformasjon for planen som helhet.

En arealplan kan v&amp;#230;re:
regulerings- og bebyggelsesplan ( pbl. 1985 &amp;#167;&amp;#167; 22 og 24 og 28-2,) / 
omr&amp;#229;deregulering eller detaljregulering ( pbl. 2008 &amp;#167;&amp;#167; 12-1, 12-2 og 12-3)
eller
kommune (-del) plan (pbl. 1985 &amp;#167; 20-4 f&amp;#248;rste ledd, eller pbl. 2008 &amp;#167; 11-5)

Kommisjonsforordning 
En arealplan er et sett dokumenter som angir en strategisk retning for utviklingen av et gitt geografisk omr&amp;#229;de, angir politikken, prioriteringene, programmene og arealfordelingene som ligger til grunn for den strategiske retningen og p&amp;#229;virker fordelingen av mennesker og virksomheter i omr&amp;#229;der av ulik st&amp;#248;rrelse. Arealplaner kan utvikles for byplanlegging, regionsplanlegging, milj&amp;#248;planlegging, landskapsplanlegging eller, nasjonale arealplaner e</documentation>
    </annotation>
  </element>
  <complexType name="ArealplanType">
    <complexContent>
      <extension base="po:FellesegenskaperObjektType">
        <sequence>
          <element name="nasjonalArealplanId" type="po:NasjonalArealplanIdPropertyType">
            <annotation>
              <documentation>landsdekkende entydig og unik identifikasjon for en arealplan (pbl. 1985 &amp;#167; 18, &amp;#167; 20-1 andre og femte ledd og &amp;#167; 22 og &amp;#167; 28-2 / pbl. &amp;#167;&amp;#167; 6-4, 8-1, 9-1, 11-1 og &amp;#167; 12-1, samt kart- og planforskriften &amp;#167; 9 andre og sjette ledd)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NASJONALAREALPLANID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plantype" type="po:PlantypeType">
            <annotation>
              <documentation>type arealplan</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">PLANTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plannavn" type="string">
            <annotation>
              <documentation>officialTitle: planens offisielle navn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">PLANNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="planstatus" type="po:PlanstatusType">
            <annotation>
              <documentation>planens behandling (pbl. 1985 &amp;#167;&amp;#167; 20-5, 27-1, 27-2, 28-1 og 28-2) 
samt planens virkning (pbl. 1985 &amp;#167;&amp;#167;  20-6, 28-2 og 31 / pbl. &amp;#167;&amp;#167; 8-3, 8-4, 9-3, 9-4, &amp;#167;&amp;#167; 11-12 til 11-15, og &amp;#167;&amp;#167; 12-8 til 12-12)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">PLANSTAT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lovreferanse" type="po:LovreferanseTypeType">
            <annotation>
              <documentation>referanse til hvilken lov planen er vedtatt etter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOVREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="planavgrensning" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>hele planens utstrekning uavhengig av vertikalnivå
Brukes for planer i oppstartsfasen der planområder/vertikalnivå ikke er definert ennå
For planer med planområder kan plangrensingne avledes fra disse</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArealplanPropertyType">
    <sequence minOccurs="0">
      <element ref="po:Arealplan"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="FellesegenskaperObjekt" substitutionGroup="gml:AbstractFeature" type="po:FellesegenskaperObjektType">
    <annotation>
      <documentation>abstrakt objekttype som bærer sentrale egenskaper som er anbefalt for bruk i produktspesifikasjoner.

Merknad: Disse egenskapene skal derfor ikke modelleres inn i fagområdemodeller.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FellesegenskaperObjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identifikasjon" type="po:IdentifikasjonPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>tidspunkt for siste endring på objektet 

Merknad: 
Oppdateringsdato kan være forskjellig fra datafangsdato ved at data som er registrert kan bufres en kortere eller lengre periode før disse legges inn i datasystemet (databasen).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OPPDATERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="opphav" type="string">
            <annotation>
              <documentation>referanse til opphavsmaterialet, kildematerialet, organisasjons/publiseringskilde

Merknad: 
Kan også beskrive navn på person og årsak til oppdatering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OPPHAV</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesegenskaperObjektPropertyType">
    <sequence minOccurs="0">
      <element ref="po:FellesegenskaperObjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Identifikasjon" substitutionGroup="gml:AbstractObject" type="po:IdentifikasjonType">
    <annotation>
      <documentation>Identification: Unik identifikasjon av et objekt i et datasett, forvaltet av den ansvarlige produsent/forvalter, og kan benyttes av eksterne applikasjoner som stabil referanse til objektet. 

Merknad 1: Denne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

Merknad 2: Denne unike identifikatoren vil ikke endres i løpet av objektets levetid, og ikke gjenbrukes i andre objekt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IdentifikasjonType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>localId: lokal identifikator av et objekt

Merknad: Det er dataleverendørens ansvar å sørge for at den lokale identifikatoren er unik innenfor navnerommet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOKALID</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>namespace: navnerom som unikt identifiserer datakilden til et objekt, anbefales å være en http-URI

Eksempel: http://data.geonorge.no/SentraltStedsnavnsregister/1.0

Merknad : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og må være registrert i data.geonorge.no eller data.norge.no</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NAVNEROM</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>versionId: identifikasjon av en spesiell versjon av et geografisk objekt (instans)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERSJONID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPropertyType">
    <sequence>
      <element ref="po:Identifikasjon"/>
    </sequence>
  </complexType>
  <simpleType name="KommunenummerType">
    <annotation>
      <documentation>ekstern kodeliste for kommunenummer.
Merknad: Det presiseres at kommune alltid skal ha 4 sifre, dvs. eventuelt med ledende null. Kommune benyttes for kopling mot en rekke andre registre som ogs&amp;#229; benytter 4 sifre.</documentation>
    </annotation>
    <union memberTypes="po:KommunenummerEnumerationType po:KommunenummerOtherType"/>
  </simpleType>
  <simpleType name="KommunenummerEnumerationType">
    <annotation>
      <documentation>ekstern kodeliste for kommunenummer.
Merknad: Det presiseres at kommune alltid skal ha 4 sifre, dvs. eventuelt med ledende null. Kommune benyttes for kopling mot en rekke andre registre som ogs&amp;#229; benytter 4 sifre.</documentation>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="KommunenummerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LandkodeType">
    <annotation>
      <documentation>alfanumerisk kode for nasjonalt niv&amp;#229; / Norge.
Avledet fra ISO 3166 Codes for the representation of names of countries and their subdivisions</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NO"/>
    </restriction>
  </simpleType>
  <simpleType name="LovreferanseTypeType">
    <annotation>
      <documentation>kode for hvilken lov planen er vedtatt etter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOVREFERANSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="6">
        <annotation>
          <documentation>Plan- og bygningsloven av 2008</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_verdi">6</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="NasjonalArealplanId" substitutionGroup="gml:AbstractObject" type="po:NasjonalArealplanIdType">
    <annotation>
      <documentation>landsdekkende entydig og unikt kjennetegn (identifikasjon) på en arealplan.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NASJONALAREALPLANID</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NasjonalArealplanIdType">
    <sequence>
      <element name="administrativEnhet" type="po:AdministrativEnhetskodePropertyType">
        <annotation>
          <documentation>entydig identifikasjon av administrativ enhet som vedtar planen (vedtaksmyndighet)
Merknad:
Bruken av landkode=NO er forbeholdt statlig vedtaksmyndighet</documentation>
        </annotation>
      </element>
      <element name="planidentifikasjon" type="string">
        <annotation>
          <documentation>entydig identifikasjon for en plan innen en administrativ enhet  (pbl. 1985 &amp;#167; 18, &amp;#167; 19-1 sjette ledd, &amp;#167; 20-1 andre og femte ledd og &amp;#167; 22 og &amp;#167; 28-2 / pbl. &amp;#167;&amp;#167; 6-4, 8-1, 9-1, 11-1 og &amp;#167; 12-1, samt kart- og planforskriften &amp;#167; 9 andre og sjette ledd)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">PLANID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="NasjonalArealplanIdPropertyType">
    <sequence>
      <element ref="po:NasjonalArealplanId"/>
    </sequence>
  </complexType>
  <simpleType name="PlanstatusType">
    <annotation>
      <documentation>kode for planens behandling (pbl. 1985 &amp;#167;&amp;#167; 19-4, 20-5, 27-1, 27-2, 28-1 og 28-2) samt planens virkning (pbl. 1985 &amp;#167;&amp;#167; 19-6, 20-6, 28-2 og 31/pbl. &amp;#167;&amp;#167; 8-3, 8-4, 9-3, 9-4, &amp;#167;&amp;#167; 11-12 til 11-15, og &amp;#167;&amp;#167; 12-8 til 12-12)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">PLANSTAT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_verdi">1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlantypeType">
    <annotation>
      <documentation>kode for type reguleringsplan (pbl. 1985 &amp;#167;&amp;#167; 22 og 28-2/pbl. &amp;#167;&amp;#167; 12-2 og 12-3)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="34"/>
      <enumeration value="35"/>
    </restriction>
  </simpleType>
</schema>
